.files-main {
    width: 80%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    .file-draft {
        width: 90%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
            border: 1px solid gray;
        .draft {
            width: 50px;
            height: 50px;
            margin: 10px;
            border: 1px solid gray;
        }
    }
    .file-box {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        .files {
            width: 40%;
            height: 100%;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid gray;
        }
        .files1 {
            width: 5%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid gray;
        }
    }
    .file-saved {
        margin: 1px 0;
    }
}