.files-main {
    width: 80%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;  
    .user-draft {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        .file-draft {
            width: 90%;
            margin: 0 0 10px 0;
            display: flex;
            flex-direction: column;
            .draft-userbox,
            .draft-userbox1 {
                    width: 100%;
                    height: 60px;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    border: 1px solid gray;
                    background-color: white;
                .draft-name,
                .draft-name1 {
                    width: 70%;
                    padding: 0 10px;
                    text-wrap: wrap;
                }
                .draft-userdata,
                .draft-userdata1 {
                    width: 25%;
                    padding: 0 10px;
                }
                .user-download,
                .user-download1 {
                    width: 5%;
                    height: 60px;
                }
                .user-download1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid gray;
                }
            }
        }
    }

    .admin-draft {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .complated-drafts-sort {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 30px;
            button {
            cursor: pointer;
            border: 1px solid gray;
            background-color: #f0f0f0; 
            transition: background-color 0.3s ease, color 0.3s ease;
            &.active {
                background-color: #0d6efd; 
                color: black;
                border-color: #0d6efd;
                font-weight: bold;
            }
        }
            .admin-created-drafts {
                width: auto;
                border-radius: 10px;
                padding: 10px;
            }
            .user-complated-drafts {
                width: auto;
                border-radius: 10px;
                padding: 10px;
            }
        }
        .admin-draftbox {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .file-draft {
                width: 90%;
                margin: 0 0 10px 0;
                display: flex;
                flex-direction: column;
                .draft-adminbox,
                .draft-adminbox1 {
                    width: 100%;
                    height: 60px;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    border: 1px solid gray;
                    background-color: white;
                    .draft-name,
                    .draft-name1 {
                        width: 70%;
                        padding: 0 10px;
                        text-wrap: wrap;
                    }
                    .draft-admindata,
                    .draft-admindata1 {
                        width: 25%;
                        padding: 0 10px;
                    }
                    .admin-draft-download,
                    .admin-draft-download1 {
                        width: 5%;
                        height: 60px;
                    }
                    .admin-draft-download1 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid gray;
                    }
                }
            }
        }
        .admin-userbox {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .file-box {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
                background-color: white;
                .files1 {
                    width: 3%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid gray;
                }
                .seen2 {
                    display: none;
                }
                .files {
                    width: 56%;
                    height: 100%;
                    padding: 0 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid gray;
                    text-align: center;
                }
                .creator-name,
                .creator-name1,
                .creator-email,
                .creator-email1 {
                    width: 15%;
                }
                .download-icon {
                    width: 5%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid gray;
                }
                .download-bubbon {
                    width: 5%;
                    height: 50px;
                }
            }
            .user-results {
                width: 100%;
                padding-bottom: 100px;
                .file-saved {
                    width: 100%;
                    min-height: 50px;
                    margin: 5px 0;
                    .create-data1,
                    .file-data1 {
                        width: 15%;
                    }
                }
            }
            .download {        
                height: 50px;
                position: fixed;
                bottom: 25px;
            }
        }        
    }    
}