body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    header {
        width: 80%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: lightgray;
        a {
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
        .complated-icon {
            display: none;
        }
    }  
    main {
        width: 80%;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        background-color: lightgray;
        .Questionnaire-info {
            width: 100%;
            min-height: 100px;
            text-align: center;
            resize: vertical;
            padding: 5px;
        } 
        .Necessary {
            width: 100%;
            height: 150px;            
            padding: 0 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .Necessary-1,
            .Necessary-2,
            .Necessary-3,
            .Necessary-4 {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;                
                input,
                select {
                    width: 100%;
                }
            }
            .Necessary-4 {
                width: 100%;
            }
        }
        .Questionnaire-1 {
            margin-top: 50px;
        }
        .Questionnaire-1,
        .Questionnaire-2,
        .Questionnaire-3,
        .Questionnaire-4 {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .question,
            .question {
                width: 50%;
                border: 1px solid grey;
                margin: 0 10px;
                padding: 5px;
                resize: none;
            }
            .answers-1,
            .answers-2,
            .answers-3,
            .answers-4 {
                width: auto;
                display: flex;
                align-items: center;
                input {
                    margin: 0 5px;
                }
            }
            .answers-4 {
                width: 45%;
                border: 1px solid grey;
                padding: 5px;
                }
        }
        .user-submit {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: lightgrey;
        }
        .admin-function {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: lightgrey;
            display: none;
        }
    }
}